*
{
    margin: 20;
    padding: 20;
}
body
{
    background-image: linear-gradient(lightcyan, white);
}
header
{
    display: flex;
    width: 500px; 
    justify-content: center;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}
content
{
    display: flex;
    width: 700px;
    justify-content: left;
    margin-right:auto;
    margin-left:auto;
}
button 
{
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: center;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    background-image: linear-gradient(blue, purple); /* zrobione na pokaz, prosze to zmienić bo chujowe te kolory xd */
    color: white;
    border: 2px solid black;
}
button:hover /* tutaj analogicznie xd */
{
    opacity: 50;
    border-color: #2196F3;
    background-image: linear-gradient(orange, white);
    color: black
}